-
  var mainMenu = [
    {
      "id": "0",
      "name": "Афиша",
      "url": "/afisha.html"
    },
    {
      "id": "10",
      "name": "Репертуар",
      "url": "/repertoire-route.html",
      "childs": [
        {
          "id": "10-0",
          "name": "Полнокупольные программы",
          "url": "/repertoire.html"
        },
        {
          "id": "10-10",
          "name": "Научно-популярные лекции",
          "url": "/repertoire.html"
        },
        {
          "id": "10-20",
          "name": "Экскурсия по планетарию",
          "url": "/repertoire.html"
        },
        {
          "id": "10-30",
          "name": "Сеанс «Космический тренажер»",
          "url": "/repertoire.html"
        },
        {
          "id": "10-40",
          "name": "Наблюдения в телескоп",
          "url": "/repertoire.html"
        },
        {
          "id": "10-50",
          "name": "Концерты",
          "url": "/repertoire.html"
        },
        {
          "id": "10-60",
          "name": "Спектакли",
          "url": "/repertoire.html"
        },
      ],
    },
    {
      "id": "20",
      "name": "Новости",
      "url": "/news-list.html",
      "childs": [
        {
          "id": "20-0",
          "name": "В мире астрономии",
          "url": "/news.html"
        },
        {
          "id": "20-10",
          "name": "Новости планетария",
          "url": "/news.html"
        },
        {
          "id": "20-20",
          "name": "Календарь наблюдений",
          "url": "/news.html"
        },
      ],
    },
    {
      "id": "30",
      "name": "Образование",
      "url": "/delivery.html",
      "childs": [
        {
          "id": "30-0",
          "name": "1-4 классы",
          "url": "/"
        },
        {
          "id": "30-10",
          "name": "5-8 классы",
          "url": "/"
        },
        {
          "id": "30-20",
          "name": "9-11 классы",
          "url": "/"
        },
        {
          "id": "30-30",
          "name": "Астрономический центр «Притяжение»",
          "url": "/"
        },
        {
          "id": "30-40",
          "name": "Заочная астрокосмическая олимпиада",
          "url": "/"
        },
        {
          "id": "30-50",
          "name": "Методические и иные документы",
          "url": "/"
        },
      ],
    },
    {
      "id": "40",
      "name": "Услуги",
      "url": "/",
      "childs": [
        {
          "id": "40-0",
          "name": "День рождения",
          "url": "/"
        },
        {
          "id": "40-10",
          "name": "Мероприятия для учащихся",
          "url": "/"
        },
        {
          "id": "40-20",
          "name": "Мероприятия для организаций",
          "url": "/"
        },
        {
          "id": "40-30",
          "name": "Романтический вечер",
          "url": "/"
        },
        {
          "id": "40-40",
          "name": "Свадебное торжество",
          "url": "/"
        },
        {
          "id": "40-50",
          "name": "Сувенирная продукция",
          "url": "/"
        },
        {
          "id": "40-60",
          "name": "Кафе",
          "url": "/"
        },
        {
          "id": "40-70",
          "name": "Космическое питание",
          "url": "/"
        },
        {
          "id": "40-80",
          "name": "Подарочные сертификаты",
          "url": "/"
        },
      ],
    },
    {
      "id": "50",
      "name": "Планетарий",
      "url": "/contacts.html",
      "childs": [
        {
          "id": "50-0",
          "name": "О нас",
          "url": "/"
        },
        {
          "id": "50-10",
          "name": "Залы планетария",
          "url": "/"
        },
        {
          "id": "50-20",
          "name": "Билеты",
          "url": "/"
        },
        {
          "id": "50-30",
          "name": "Информация для групп",
          "url": "/"
        },
        {
          "id": "50-40",
          "name": "Правила посещения",
          "url": "/"
        },
        {
          "id": "50-50",
          "name": "Отзывы",
          "url": "/"
        },
        {
          "id": "50-60",
          "name": "Награды и благодарности",
          "url": "/"
        },
      ],
    },
  ];
