// В этом файле должны быть стили для БЭМ-блока main-nav, его элементов, 
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.main-nav 
	position relative
	z-index 10
	
	// первый уровень
	&__list 
		display flex
		flex-wrap wrap
		margin 0
		padding 0
		list-style none
		
		&_lvl-2 
			display block
			
		&_lvl-3
			display block

	&__item 
		position relative
				
		&_active
			& > ^[0]__link
				color #000

	&__link 
		display block
		padding 0.5em 1em
		text-decoration none
		background-color #fff
		white-space nowrap
		// transit(,200ms)
		
		+hover-focus()
			text-decoration none
			background-color #999
				
	&__sublist-wrapper
		&_lvl-2
			position absolute
			top 100%
			left 0
			z-index 1
			opacity 0
			height 0
			overflow hidden
			transition opacity 200ms
			
			// stylelint-disable  max-nesting-depth
			^[0]__item_show-child > &
			^[0]__item:hover &
				opacity 1
				height auto
				overflow visible
				
		&_lvl-3
			position absolute
			z-index 1
			top 0
			left 100%
			opacity 0
			height 0
			overflow hidden
			transition opacity 200ms