// В этом файле должны быть стили для БЭМ-блока main-nav, его элементов, 
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.main-nav 
	position relative
	z-index 10
	
	// первый уровень
	&__list 
		display flex
		margin 0
		padding 0
		list-style none
		
		+media-breakpoint-down(md)
			flex-direction column
			justify-content space-around
		
		+media-breakpoint-up(lg)
			flex-wrap nowrap
			flex-direction row
			justify-content space-between

	&__item 
		position relative
				
		+media-breakpoint-up(lg)
			&_active 
				& > ^[0]__link 
					color #000

	&__link 
		display block
		text-decoration none
		font-weight 800 
		white-space nowrap
		transit(,200ms)
		
		+hover-focus()
			text-decoration none
				
		+media-breakpoint-down(md)
			font-size 28px
			color #FFF 

		+media-breakpoint-up(lg)
			font-size 16px
			color #333 
			line-height 1.5
			padding 0 6px
			
			+hover-focus()
				color #FFF 
				background-color #5cac41
				
			
		+media-breakpoint-up(xl)
			font-size 20px
			padding 0 12px