// В этом файле должны быть стили для БЭМ-блока topcontrol, его элементов, 
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.topcontrol
	display flex
	flex-direction row
	flex-wrap wrap
	justify-content flex-start
	align-items center
	
	spacer-up(xs, b, 20px)

