// В этом файле должны быть стили для БЭМ-блока filter-abc, его элементов, 
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.filter-abc
	width 100% 
	border 2px solid $green
	// spacer-down(md,b,30px)
	
	& + ^[0]
		margin-top 25px

	+media-breakpoint-down(md)
		columns 3 
		padding 10px
		
	+media-breakpoint-down(xs)
		columns 1
	
	&__title
		padding 10px
		font-size 20px
		font-weight 800 
		line-height 1.1111
		color $green 
		
		+media-breakpoint-down(md)
			column-span all
	
	
	&__block-title
		display inline-block
		font-size 16px 
		line-height 1
		font-weight bold 
		padding 0 10px 
		margin-bottom 15px
		
		span&:not(:first-of-type)
			&:before
				content "" 
				display block
				height 1px
				width 100% 
				background-color #e6e6e6
				margin-bottom 10px

	// Элементы ul
	&__list
		position relative
		margin-bottom 16px
			
		a
			display block
			width 100% 
			padding 4px 30px 
			font-size 15px
			color $text-color
			line-height 1
			font-weight 500 
			text-decoration underline
			transit(,150ms)
			
			+hover-focus()
				color #FFF 
				text-decoration none 
				background-color $green 
				
			&.active
				color #FFF 
				text-decoration none 
				background-color $green 
				
				
		&:before
			absolute top 5px left 10px
			font-size 14px
			font-weight bold 
			line-height 1
			color #aed6a0
			text-align center
			text-transform uppercase
			content attr(data-letter)
				
		+media-breakpoint-down(md)
			-webkit-column-break-inside: avoid; /* Chrome, Safari */
			page-break-inside: avoid;           /* Theoretically FF 20+ */
			break-inside: avoid-column;         /* IE 11 */
			// display:table;                      /* Actually FF 20+ */
				
		&_first
			a
				font-size 16px 
				font-weight bold 
				padding 0 10px 
				
				&:before
				&:after
					content "" 
					display block
					height 1px
					width 100% 
					background-color #e6e6e6
					transit(, 150ms)
				
				&:before
					margin-bottom 5px
						
				&:after
					margin-top 5px
					
				+hover()
									
					&:before
					&:after
						background-color $green
						
				&.active
					&:before
					&:after
						background-color $green
			
	// Скрытые элементы			
	&__grouped
		overflow hidden
		transition all 200ms ease-in-out 
		
		&_hidden
			height 0 !important