//- Все примеси в этом файле должны начинаться c имени блока (filter-abc)

mixin filter-abc(title, isVendor, isAllItemActive, mods)

	//- Принимает:
	//-   title    {string} - Заголовок фильтра
	//-   isVendor    {bool} - является ли фильтром по производителям или по товарам
	//-   isAllItemActive  {bool} - активен ли эл-нт ("Все товары" "Все производители") или эл-нт из внутреннего списка
	//-   mods    {string} - список модификаторов
	//- Вызов:
		+filter-abc('Текст', true, true, 'some-mod')


	//- подключаем файл со структурой данных блока
	include ../storage-of-product/storage-of-product.data.pug
	include ../storage-of-vendor/storage-of-vendor.data.pug

	-
		// список модификаторов
		var allMods = '';
		if(typeof(mods) !== 'undefined' && mods) {
			var modsList = mods.split(',');
			for (var i = 0; i < modsList.length; i++) {
				allMods = allMods + ' filter-abc_' + modsList[i].trim();
			}
		}

	.filter-abc(class=allMods)&attributes(attributes)
		.filter-abc__title!= title
		
		//- a.filter-abc__first-link(href="")

		if isVendor
			//- +vendor-list(14, false, "sidebar,first")
			.filter-abc__list.filter-abc__list_first()
				.filter-abc__el
					a(href="", class=(isAllItemActive ? "active":"")) Все производители
		else 
			.filter-abc__list.filter-abc__list_first()
				.filter-abc__el
					a(href="", class=(isAllItemActive ? "active":"")) Все товары
		
		//- если фильтр по производителям
		if isVendor

			for id in [0,1,2,3,4,5,6,7,8,9]

				.filter-abc__list(data-letter!=vendorsItems[id].letter)

					if vendorsItems[id].items.length > 2

						//- for item in [0,1]
						for item,index in vendorsItems[id].items
							.filter-abc__el
								//- Добавляем класс активности 1-му эл-ту из 1-ого блока, при условии что isAllItemActive = false
								//- a(href="", class=(!isAllItemActive && id==0 && item==0) ? "active" : "")!= vendorsItems[id].items[item]
								a(href="", class=(!isAllItemActive && id==0 && index==0) ? "active" : "")!= item
						
						//- Ссылку убрал из вывода поскольку добавляю ее из JS
						//- +link('Еще','more')(href="/catalog-product.html")

					else
						for item, index in vendorsItems[id].items
							.filter-abc__el
								a(href="", class=(!isAllItemActive && id==0 && index==0) ? "active" : "")!= item
		
		//- если фильтр по товарам
		else
			//- по товарам
			for id in [0,1,2,3]
				span.filter-abc__block-title!= productItems[id].title
				
				each abc in productItems[id].itemsAbc
					.filter-abc__list(data-letter!=abc.letter)
						each item, index in abc.items
							.filter-abc__el
								a(href="", class=(!isAllItemActive && id==0 && index==0) ? "active" : "")!= item

