// Просто добавляем все селекторы для вывода спрайтов
[class*="icon-"]
	display inline-block
	vertical-align middle
	
.icon-arrow-r-rnd-gray
	sprite($s_arrow_left_round_gray)

.icon-btn-rnd-gray
	sprite($s_btn_round_gray)

.icon-btn-rnd-green
	sprite($s_btn_round_green)
	
.icon-cart
	sprite($s_cart)

.icon-eye-d
	sprite($s_eye_d)
	
// Social
.icon-fb
	sprite($s_fb)
.icon-inst
	sprite($s_inst)
.icon-ok
	sprite($s_ok)
.icon-vk
	sprite($s_vk)
.icon-yt
	sprite($s_yt)


// credit cards
.icon-mascard
	sprite($s_mascard)
.icon-mir
	sprite($s_mir)
.icon-visa
	sprite($s_visa)


.icon-mark-d
	sprite($s_mark_dark)

.icon-phone-d
	sprite($s_phone_dark)

.icon-phone-d-rnd-w
	sprite($s_phone_d_rnd_w)

.icon-email-d
	sprite($s_email_dark)

.icon-email-d-rnd-w
	sprite($s_email_d_rnd_w)
	
.icon-user
	sprite($s_user)
	
.icon-logout
	sprite($s_logout)
	
.icon-logouthover
	sprite($s_logouthover)
	
.icon-info
	sprite($s_info)