// В этом файле должны быть стили для БЭМ-блока title, его элементов, 
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.title
	h1&
	h2&
		font-size 30px
		font-weight 600 
		margin-bottom 20px
		
	h5&
		font-weight 800 
		margin 34px 0 20px
		
	&_ontop
		margin-top 0!important

