// В этом файле должны быть стили для БЭМ-блока search, его элементов, 
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.search
	display block
	position relative
	border-color transparent 
	padding 0 0 0 15px 
	height 25px
	width 240px
	
	& input[type="text"]
		border none
		background transparent
		line-height 1
		width 100% 
		padding-right 30px
		
	& button[type="submit"]
		absolute top 2px right 2px
		cursor pointer
		border none
		padding 0
		background-color transparent
		
		&:before
			display inline-block
			font-size 20px
		
		&:focus
			outline none
			

	&_header
		border 1px solid #ccc 
			
	&_content
		display inline-block