//- Все примеси в этом файле должны начинаться c имени блока (footer)

mixin footer(text, mods)

	//- Принимает:
	//-   text    {string} - текст
	//-   mods    {string} - список модификаторов
	//- Вызов:
		+footer('Текст', 'some-mod')

	-
		// список модификаторов
		var allMods = '';
		if(typeof(mods) !== 'undefined' && mods) {
			var modsList = mods.split(',');
			for (var i = 0; i < modsList.length; i++) {
				allMods = allMods + ' footer_' + modsList[i].trim();
			}
		}

	.footer(class=allMods, role='contentinfo')&attributes(attributes)
		.footer__bottom.row
			.footer__copyright.col-md-6
				p © 1999-2018 Акционерное общество «Опытное Конструкторское Бюро Машиностроения имени И.И. Африкантова» (АО «ОКБМ Африкантов»)

			.footer__creator.col-md-6
				p Разработка - компания #[a(href="") «R52»]