@font-face
	font-family ProximaNova
	src: url( '../fonts/ProximaNovaRegular.eot')
	src: url('../fonts/ProximaNovaRegular.eot#iefix') format('embedded-opentype'),
		url('../fonts/ProximaNovaRegular.woff2') format('woff2'),
		url('../fonts/ProximaNovaRegular.woff') format('woff'),
		url('../fonts/ProximaNovaRegular.ttf') format('truetype'),
		url('../fonts/ProximaNovaRegular.svg#ProximaNovaRegular') format('svg')
	font-style normal
	font-weight 400
	
@font-face
	font-family ProximaNova
	src: url( '../fonts/ProximaNovaSemibold.eot')
	src: url('../fonts/ProximaNovaSemibold.eot#iefix') format('embedded-opentype'),
		url('../fonts/ProximaNovaSemibold.woff2') format('woff2'),
		url('../fonts/ProximaNovaSemibold.woff') format('woff'),
		url('../fonts/ProximaNovaSemibold.ttf') format('truetype'),
		url('../fonts/ProximaNovaSemibold.svg#ProximaNovaSemibold') format('svg')
	font-style normal
	font-weight 500
	
@font-face
	font-family ProximaNova
	src: url( '../fonts/ProximaNovaBold.eot')
	src: url('../fonts/ProximaNovaBold.eot#iefix') format('embedded-opentype'),
		url('../fonts/ProximaNovaBold.woff2') format('woff2'),
		url('../fonts/ProximaNovaBold.woff') format('woff'),
		url('../fonts/ProximaNovaBold.ttf') format('truetype'),
		url('../fonts/ProximaNovaBold.svg#ProximaNovaBold') format('svg')
	font-style normal
	font-weight bold
	
@font-face
	font-family ProximaNova
	src: url( '../fonts/ProximaNovaExtrabold.eot')
	src: url('../fonts/ProximaNovaExtrabold.eot#iefix') format('embedded-opentype'),
		url('../fonts/ProximaNovaExtrabold.woff2') format('woff2'),
		url('../fonts/ProximaNovaExtrabold.woff') format('woff'),
		url('../fonts/ProximaNovaExtrabold.ttf') format('truetype'),
		url('../fonts/ProximaNovaExtrabold.svg#ProximaNovaExtrabold') format('svg')
	font-style normal
	font-weight 800
	
@font-face 
	font-family "Rouble"
	src url("../fonts/alsrubl-webfont.eot")
	src url("../fonts/alsrubl-webfont.eot#iefix") format("embedded-opentype"),
  		url("../fonts/alsrubl-webfont.woff") format("woff"),
  		url("../fonts/alsrubl-webfont.ttf") format("truetype"),
  		url("../fonts/alsrubl-webfont.svg") format("svg")
	font-weight normal
	font-style normal
