spacer-up($breakpoint, $side, $size)
	+media-breakpoint-up($breakpoint)
		margin-top $size if t in $side
		margin-bottom $size if b in $side
		margin-left $size if l in $side
		margin-right $size if r in $side
		
spacer-down($breakpoint ,$side, $size)
	+media-breakpoint-down($breakpoint)
		margin-top $size if t in $side
		margin-bottom $size if b in $side
		margin-left $size if l in $side
		margin-right $size if r in $side
		
spacer-between($lower, $upper, $side, $size)
	+media-breakpoint-between($lower, $upper,)
		margin-top $size if t in $side
		margin-bottom $size if b in $side
		margin-left $size if l in $side
		margin-right $size if r in $side