-
	var productItems = [
		{
			title: "Семена овощей, трав",
			icon: "carrot",
			items: ["Наборы семян", "Арбуз", "Баклажан", "Бобы, горох", "Дайкон", "Дыня", "Зелень и пряности", "Земляника, клубника", "Кабачок", "Капуста", "Картофель", "Кукуруза", "Лук", "Морковь", "Огурец", "Патиссон", "Перец", "Подсолнечник", "Наборы семян", "Наборы семян", "Еще"],
			itemsAbc: [
				{
					letter: "А",
					items: ["Арбуз","Артишок"]
				},
				{
					letter: "Б",
					items: ["Баклажан","Бобы, горох"]
				},
				{
					letter: "Д",
					items: ["Дайкон","Дыня"]
				},
			],
		},
		{
			title: "Семена газонов и сидератов",
			icon: "grass",
			items: ["Газоны зеленые", "Газоны цветущие", "Сидераты"],
			itemsAbc: [
				{
					letter: "А",
					items: ["Арбуз","Артишок"]
				},
				{
					letter: "Б",
					items: ["Баклажан","Бобы, горох"]
				},
				{
					letter: "Д",
					items: ["Дайкон","Дыня"]
				},
			],
		},
		{
			title: "Грунт и все для рассады",
			icon: "rake",
			items: ["Все для рассады", "Грунты для цветов", "Грунты универсальные", "Дренаж", "Грунты для овощей и рассады"],
			itemsAbc: [
				{
					letter: "А",
					items: ["Арбуз","Артишок"]
				},
				{
					letter: "Б",
					items: ["Баклажан","Бобы, горох"]
				},
				{
					letter: "Д",
					items: ["Дайкон","Дыня"]
				},
			],
		},
		{
			title: "Защита растений от болезней и вредителей",
			icon: "sheet",
			items: ["Газоны зеленые", "Газоны цветущие", "Сидераты"],
			itemsAbc: [
				{
					letter: "А",
					items: ["Арбуз","Артишок"]
				},
				{
					letter: "Б",
					items: ["Баклажан","Бобы, горох"]
				},
				{
					letter: "Д",
					items: ["Дайкон","Дыня"]
				},
			],
		},
		{
			title: "Бытовая химия",
			icon: "chemical",
			items: ["Все для рассады", "Грунты для цветов", "Грунты универсальные", "Дренаж", "Грунты для овощей и рассады"]
		},
		{
			title: "Горшки, вазоны, кашпо",
			icon: "flowerpot",
			items: ["Наборы семян", "Арбуз", "Баклажан", "Бобы, горох", "Дайкон", "Дыня", "Зелень и пряности", "Земляника, клубника", "Кабачок", "Капуста", "Картофель", "Кукуруза"],
		},

		{
			title: "Семена цветов",
			icon: "flower",
			items: ["Агератум", "Азарина", "Аквилегия", "Алиссум", "Амарант", "Антирринум", "Арабис", "Арктотис", "Армерия", "Астра", "Аубреция", "Бакопа", "Бальзамин", "Бархатцы", "Брахикома", "Василек", "Венидиум", "Вербена", "Еще"],
			itemsFull: ["Абутилон", "Абутилон гибридный", "Авран лекарственный", "Агава", "Агава американская", "Агапантус", "Агапантус зонтичный", "Агератум", "Аглаонема", "Аглаонема переменчивая", "Бадан сердцелистный", "Бадан толстолистный", "Бальзамин", "Бамбук, бамбуковые", "Баптизия южная", "Барбарис обыкновенный", "Барвинок", "Барвинок большой", "Барвинок малый", "Бархатец", "Вербена", "Вербена", "Вербена гибридная", "Вербена гибридная", "Вереск обыкновенный", "Вереск обыкновенный", "Вероника", "Вероника армянская", "Вероника виргинская", "Вероника горечавковая", "Гайлардия", "Галакс", "Галинзога мелкоцветковая", "Гвоздика Antigua", "Гвоздика Moonaqua", "Гвоздика альпийская", "Гвоздика Грин Трик", "Гвоздика картузианская", "Гвоздика Кнаппа", "Гвоздика кремовая", "Девичий виноград", "Дельфиниум", "Дербенник иволистный", "Дипладения (Мандевила)", "Диффенбахия", "Диффенбахия камилла", "Дихоризандра (Золотой ус)", "Дицентра", "Дицентра великолепная", "Дицентра исключительная", "Евпаториум", "Ежевика", "Ежеголовник простой", "Ель нобилис", "Жасмин низкий", "Жасмин самбак", "Желтушник левкойный", "Женьшень", "Жерушник болотный", "Живокость полевая", "Заячья капуста", "Звездчатка", "Звездчатка жестколистная", "Звездчатка злаковая", "Звездчатка средняя", "Зверобой продырявленный", "Зебрина висячая", "Зебрина Пурпуза","Зеленчук желтый", "Земляника", "Иберис", "Иберис вечнозеленый", "Иберис зонтичный", "Иван-чай узколистный", "Иглица колючая", "Иглица подлистная", "Иглица подъязычная", "Икотник серо-зеленый", "Илекс", "Ипомея"],
		},
		{
			title: "Посадочный материал",
			icon: "onion",
			items: ["Выгонка-Осень", "Лук, чеснок", "Картофель семенной", "Сезонные луковичные", ],
		},
		{
			title: "Удобрения и подкормки",
			icon: "seedling",
			items: ["Удобрения для основного внесения", "Удобрения для подкормки для растений", "Стимуляторы роста", ],
		},
		{
			title: "Защита от грызунов и бытовых насекомых",
			icon: "rat",
			items: ["Выгонка-Осень", "Лук, чеснок", "Картофель семенной", "Сезонные луковичные", ],
		},
		{
			title: "Садовый инвентарь",
			icon: "shovel",
			items: ["Удобрения для основного внесения", "Удобрения для подкормки для растений", "Стимуляторы роста", ],
		},
		{
			title: "Декор дома и сада",
			icon: "forging",
			items: ["Наборы семян", "Арбуз", "Баклажан", "Бобы, горох", "Дайкон", "Дыня", "Зелень и пряности", "Земляника, клубника", "Кабачок", "Капуста", "Картофель", "Кукуруза", ],
		}
	];