//- Два массива: первый для алфавитного указателя, второй для вывода в блок vendor-sb
-
	var vendorsItems = [
		{	// 0
			letter: "А",
			items: ["Агрос", "Аквариус"]
		},
		{	// 1
			letter: "Б",
			items: ["Баклажановый рай", "Бобикс", "Бирюза", "Бравый огурчик", "Аквариус", "Бобикс", "Бирюза", "Бравый огурчик", "Аквариус"]
		},
		{	// 2
			letter: "В",
			items: ["Вильнюс трейд", "Васюки"]
		},
		{	// 3
			letter: "Г",
			items: ["Гавриш"]
		},
		{	// 4
			letter: "Д",
			items: ["Баклажановый рай", "Бобикс", "Бирюза", "Бравый огурчик"]
		},
		{	// 5
			letter: "Ж",
			items: ["Баклажановый рай", "Бобикс", "Бирюза", "Бравый огурчик"]
		},
		{	// 6
			letter: "И",
			items: ["Вильнюс трейд"]
		},
		{	// 7
			letter: "К",
			items: ["Баклажановый рай", "Бобикс", "Бирюза"]
		},
		{	// 8
			letter: "Л",
			items: ["Бравый огурчик"]
		},
		{	// 9
			letter: "М",
			items: ["Баклажановый рай", "Бобикс"]
		},
		{	// 10
			letter: "П",
			items: ["Вильнюс трейд"]
		},
		{	// 11
			letter: "С",
			items: ["Баклажановый рай"]
		},
		{	// 12
			letter: "Т",
			items: ["Аэлита", "Аквариус"]
		},
		{	// 13
			letter: "Ч",
			items: ["Баклажановый рай"]
		},
	];

	var vendorSpec = [
		{
			name: "Русский огород",
			img: "vendor-1.png",
		},
		{
			name: "Гавриш",
			img: "vendor-2.png",
		},
		{
			name: "Седек",
			img: "vendor-3.png",
		},
		{
			name: "Агрос",
			img: "vendor-4.png",
		},
		{
			name: "Биотехника",
			img: "vendor-5.png",
		},
		{
			name: "Сибирский сад",
			img: "vendor-6.png",
		},
	];