.margin-down--lg-b-20
	spacer-down(lg, b, 20px)

.margin-down--md-b-40
	spacer-down(md, b, 40px)
	
.margin-down--sm-t-20
	spacer-down(sm, t, 20px)


// margin-top , margin-bottom =15px ; always
.margin-t-15
	spacer-up(xs, t, 15px)
.margin-b-15
	spacer-up(xs, b, 15px)

// margin-top , margin-bottom =20px ; always
.margin-t-20
	spacer-up(xs, t, 20px)	
.margin-b-20
	spacer-up(xs, b, 20px)

// margin-top , margin-bottom =30px ; always
.margin-t-30
	spacer-up(xs, t, 30px)	
.margin-b-30
	spacer-up(xs, b, 30px)
	
// margin-top , margin-bottom =50px ; always
.margin-t-50
	spacer-up(xs, t, 50px)
.margin-b-50
	spacer-up(xs, b, 50px)
