@font-face {
  font-family: "svetloyar";
  src:url("../fonts/svetloyar.eot");
  src:url("../fonts/svetloyar.eot?#iefix") format("embedded-opentype"),
    url("../fonts/svetloyar.woff") format("woff"),
    url("../fonts/svetloyar.ttf") format("truetype"),
    url("../fonts/svetloyar.svg#svetloyar") format("svg");
  font-weight: normal;
  font-style: normal;

}
[data-icon]:before {
	font-family: "svetloyar" !important;
	content: attr(data-icon);
	font-style: normal !important;
	font-weight: normal !important;
	font-variant: normal !important;
	text-transform: none !important;
	speak: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

[class^="i-"]:before,
[class*=" i-"]:before {
	font-family: "svetloyar" !important;
	font-style: normal !important;
	font-weight: normal !important;
	font-variant: normal !important;
	text-transform: none !important;
	speak: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.i-caret-left:before {
  content: "\61";
}
.i-caret-right:before {
  content: "\62";
}
.i-ui-user:before {
  content: "\65";
}
.i-ui-arrow-line-left:before {
  content: "\66";
}
.i-ui-arrow-line-right:before {
  content: "\67";
}
.i-type-carrot:before {
  content: "\68";
}
.i-type-chemical:before {
  content: "\69";
}
.i-type-flower:before {
  content: "\6a";
}
.i-type-flowerpot:before {
  content: "\6b";
}
.i-type-forging:before {
  content: "\6c";
}
.i-type-grass:before {
  content: "\6d";
}
.i-type-onion:before {
  content: "\6e";
}
.i-type-rake:before {
  content: "\6f";
}
.i-type-rat:before {
  content: "\70";
}
.i-type-seedling:before {
  content: "\71";
}
.i-type-sheet:before {
  content: "\72";
}
.i-type-shovel:before {
  content: "\73";
}
.i-ui-arrow-line-down:before {
  content: "\74";
}
.i-ui-arrow-line-up:before {
  content: "\75";
}
.i-ui-btn-rnd:before {
  content: "\76";
}
.i-ui-cart:before {
  content: "\77";
}
.i-ui-info:before {
  content: "\78";
}
.i-ui-letter-fill:before {
  content: "\79";
}
.i-ui-mark-fill:before {
  content: "\41";
}
.i-ui-phone-fill:before {
  content: "\42";
}
.i-ui-logout:before {
  content: "\7a";
}
.i-ui-eye:before {
  content: "\43";
}
.i-ui-caret-down:before {
  content: "\63";
}
.i-ui-caret-up:before {
  content: "\64";
}
.i-ui-close-sm:before {
  content: "\44";
}