// В этом файле должны быть стили для БЭМ-блока thumb, его элементов, 
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.thumb
	position relative
				
	&__img
		display block
		height 220px
		
		background-repeat no-repeat
		background-position center
		background-size contain
		
		+media-breakpoint-down(xs)
			height 40vw