// В этом файле должны быть стили для БЭМ-блока burger, его элементов, 
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.burger
	absolute bottom 0 right 30px
	z-index $zindex-burger
	
	display flex
	align-items center
	cursor pointer
	
	// padding 7px
	// background-color #F0AB1A 
	// box-shadow 1px 1px 1px 0 rgba(#000,0.5)
	transit(,150ms)
	
	&__text
		font-size 17px
		line-height 1
		font-weight $font-weight-bold
		color #004C98 
		margin-right 12px
		
	&__icon
		position relative
		width 18px
		height 12px
		
	span
		position absolute
		left 0
		width 100% 
		height 2px
		background-color #004c98
		transform-origin center center		
		
		&:nth-child(1)
			top 0
			transition transform 200ms ease-in-out, top 200ms ease-in-out
			
		&:nth-child(2)
			top 5px
			transition width 200ms ease-in-out
			
		&:nth-child(3)
			top 10px
			transition transform 200ms ease-in-out, top 200ms ease-in-out
	
	&_active
		span
			&:nth-child(1)
				transform rotate(45deg) 
				top 5px
			&:nth-child(2)
				width 0
			&:nth-child(3)
				transform rotate(-45deg) 
				top 5px


	+media-breakpoint-up(lg)
		display none
		
	+media-breakpoint-down(xs)
		bottom 5px
		right 20px 