extends pug/template.pug

block variables
	- var page_class = ""
	- var isLogin = false
	- var breadcrumb_chain = ["Главная", "Корзина"] 

block append head
	link(rel='stylesheet', href='css/cart-page-styles.css')

block page
	+topline()

	+breadcrumbs(breadcrumb_chain)
	
	h1.title Корзина

	.cart-page__info
		i.cart-page__info-icon.i-ui-info
		span Минимальная сумма заказа 3000&nbsp;#[span.rouble a]. Увеличьте ваш заказ минимум на 1500&nbsp;#[span.rouble a]
	
	+form().cart-page__cart-form
		table.cart-page__table
			thead
				tr
					th Товар
					th.cart-page__table-img-col
					th.cart-page__table-vendor-col Производитель
					th.cart-page__table-sku-col Артикул
					th.cart-page__table-weight-col Вес, #[i г]
					th.cart-page__table-amount-col Объем
					th.cart-page__table-number-col Кол-во, #[i шт]
					th.cart-page__table-price-col Сто-сть, #[i руб]
					th.cart-page__table-del-col Удалить
			tbody
				tr
					td.cart-page__table-img-col
						a.cart-page__table-img(href="", style='background-image: url("images/product-2.jpg")')
					td.cart-page__table-name-col 
						a.cart-page__table-name(href="") Семена морковь самон
					td.cart-page__table-vendor-col 
						a.cart-page__table-vendor(href="") Русский огород
					td.cart-page__table-sku-col НК-4528005
					td.cart-page__table-weight-col 120
					td.cart-page__table-amount-col 10 уп.
					td.cart-page__table-number-col
						+number()
					td.cart-page__table-price-col 1380.0
					td.cart-page__table-del-col
						+close('Удалить', 'sm')

				tr
					td.cart-page__table-img-col
						a.cart-page__table-img(href="", style='background-image: url("images/product-3.jpg")')
					td.cart-page__table-name-col 
						a.cart-page__table-name(href="") Кабачок название на две строчки на две строчки
					td.cart-page__table-vendor-col 
						a.cart-page__table-vendor(href="") Русский огород
					td.cart-page__table-sku-col НК-4528005
					td.cart-page__table-weight-col 120
					td.cart-page__table-amount-col 10 уп.
					td.cart-page__table-number-col
						+number(3)
					td.cart-page__table-price-col 1380.0
					td.cart-page__table-del-col
						+close('Удалить', 'sm')

				tr
					td.cart-page__table-img-col
						a.cart-page__table-img(href="", style='background-image: url("images/product-4.jpg")')
					td.cart-page__table-name-col 
						a.cart-page__table-name(href="") Кабачок название на две строчки на две строчки
					td.cart-page__table-vendor-col 
						a.cart-page__table-vendor(href="") Русский огород
					td.cart-page__table-sku-col НК-4528005
					td.cart-page__table-weight-col 120
					td.cart-page__table-amount-col 10 уп.
					td.cart-page__table-number-col
						+number()
					td.cart-page__table-price-col 1380.0
					td.cart-page__table-del-col
						+close('Удалить', 'sm')
			
		//- result row
		.cart-page__result
			span.cart-page__result-block
				span.cart-page__result-capt Кол-во товаров:
				span.cart-page__result-val 3 шт

			span.cart-page__result-block
				span.cart-page__result-capt Общий вес:
				span.cart-page__result-val 23 кг

			span.cart-page__result-block
				span.cart-page__result-capt Итого:
				span.cart-page__result-val.cart-page__result-val_sum 4 800 #[span(class="rouble") a]

		+field-actions()
			+btn('Оформить заказ', 'primary')

	+form().cart-page__order-form
		.row
			.col-lg-6.col-md-7
				//- Поле "Контактное лицо (ФИО)"
				+field-text({
					title: 'Контактное лицо (ФИО)',
					isTextarea: false,
					mods: 'cols-md-4-8',
					val: 'Ананьев Владимир Владимирович',
				})

				//- Поле "Телефон"
				+field-text({
					title: 'Телефон',
					isTextarea: false,
					mods: 'cols-md-4-8',
					val: '+7(987)765-432-10',
				})

				//- Поле "Электронная почта"	
				+field-text({
					title: 'Электронная почта',
					isTextarea: false,
					mods: 'cols-md-4-8',
					val: 'vladimir@.mail.ru',
				})

				//- Поле "Адрес доставки"
				+field-text({
					title: 'Адрес доставки',
					isTextarea: false,
					mods: 'cols-md-4-8',
					val: '603000, г, Н.Новгород, ул. Электровозная, д.1, кв. 3',
				})

				//- Поле "Комментарий"
				+field-text({
					title: 'Комментарий',
					isTextarea: true,
					mods: 'cols-md-4-8',
					val: '',
				})

			.col-md-5.offset-lg-1

				//- Поле "Тип покупателя"	
				+field-radio([
					{
						title: 'Самовывоз',
						attrs: {
							name: 'radio',
							checked: true,
						}
					},
					{
						title: 'Доставка Почтой',
						attrs: {
							name: 'radio',
						}
					},
					{
						title: 'Доставка курьером',
						attrs: {
							name: 'radio',
						}
					},
					{
						title: 'Доставка транспортной компанией',
						attrs: {
							name: 'radio',
						}
					},
					
				], 'Выберите способ доставки', '')
				
				p.text-muted(style='line-height:1.2')
					small Подробности об условиях доставки вы можете ознакомиться в разделе #[a(href="") «Доставка и оплата»]
				+field-actions()
					+btn('Перейти к оплате', 'primary')