extends pug/template.pug

block variables
	- var page_class = ""
	- var isLogin = false
	- var breadcrumb_chain = ["Главная", "Каталог продукции", "Новинки"] 

block append head

block page
	+topline()

	+breadcrumbs(breadcrumb_chain)
	
	h1.title Новинки

	.row
		.col-xl-10.col-lg-9
			h5.title.title_ontop Все новинки

			+topcontrol()(showItemsTop = ['Все', 'Новинки'], sortItems = ['По цене'])

			+catalog-wrap(25)

			//- Bottom line (Pagination + showPerPage)
			+bottomcontrol()(showItemsBottom = ['15','30','45','Все'])

		.col-xl-2.col-lg-3
			//-(text, isVendor, isAllItemActive, mods)
			+filter-abc('Производители', true, true) 

			+filter-abc('Товары', false, true)