extends pug/template.pug

block variables
	- var page_class = "index"
	- var isLogin = false
	
block append head
	link(rel='stylesheet', href='css/index-styles.css')

block pixel-glass-templates
	//- include ../../pixel-glass-teplates/index-lg.html

block page

	//- --- СЛАЙДЕР БАНЕРЫ ---
	section.index__slider
		+owl-carousel('promo')
			.index__slide(style='background-image: url("images/indx-slide-1.jpg")')
			.index__slide(style='background-image: url("images/indx-slide-2.jpg")')
			.index__slide(style='background-image: url("images/indx-slide-3.jpg")')
			.index__slide(style='background-image: url("images/indx-slide-4.jpg")')
			.index__slide(style='background-image: url("images/indx-slide-5.jpg")')
			.index__slide(style='background-image: url("images/indx-slide-6.jpg")')
	

	//-  ---- БЛОК С АНОНСАМИ НОВОСТЕЙ ----
	section.index__news
		.row
			.col-md-6.margin-b-20
				.row
					.col-xl-6.margin-down--lg-b-20
						
						+thumb("images/product-1.jpg","#")

					.col-xl-6
						+teaser({
							date: "21 января 2017",
							title: "Дорогие друзья! Появились в продаже семена «Уральский дачник» и «Роял сидс».",
							text: "Наш ассортимент расширяется! Теперь у нас можно купить семена овощей и цветов «Уральский Дачник» и «Роял Сидс»! Уральский Дачник - это уникально.",
							isMoreLink: true,
						})

			.col-md-6.margin-b-20
				.row
					.col-xl-6.margin-down--lg-b-20
						
						+thumb("images/product-2.jpg","#")

					.col-xl-6
						+teaser({
							date: "23 января 2018",
							title: "Дорогие друзья!!! Появились в продаже семена «Уральский дачник» и «Роял сидс».",
							text: "Наш ассортимент расширяется! Теперь у нас можно купить семена овощей и цветов «Уральский Дачник» и «Роял Сидс»! Уральский Дачник - это уникально.",
							isMoreLink: true,
						})

		.text-center
			//- a(href="") Все новости
			+btn('Все новости')(href='/news-list.html')

	.row

		//- ---- ЦЕНТРАЛЬНЫЙ БЛОК ----
		main.col-lg-8
			h2.title Каталог
			.row
				.col-md-6
					+product-list(0, true, true, 'green')
					+product-list(1, true, true, 'orange')
					+product-list(2, true, true, 'blue')
					+product-list(3, true, true, 'green')
					+product-list(4, true, true, 'orange')
					+product-list(5, true, true, 'blue')

				.col-md-6
					+product-list(6, true, true, 'blue')
					+product-list(7, true, true, 'green')
					+product-list(8, true, true, 'orange')
					+product-list(9, true, true, 'blue')
					+product-list(10, true, true, 'green')
					+product-list(11, true, true, 'orange')

			h2.title О компании
			.index__about-text.margin-down--md-b-40
				p SEO - текст. Наша организация не стоит на месте, мы развиваемся и растем. На данный момент ассортимент нашей продукции насчитывает около 10 000 наименований, в том числе около 6 000 семян овощных и цветочных культур. Мы дорожим своей репутацией и никогда не предлагаем нашим покупателям некачественный товар. Всё самое лучшее, вы купите только у нас!
		
		//- --- САЙД БАР ----
		aside.col-lg-4.sidebar
			
			//- БЛОК С НАЗВАНИЯМИ И КАРТИНКАМИ ПРОИЗВОДИТЕЛЕЙ

			//- подключаем файл со структурой данных Проиводителей (из блока Storage-of-vendor)
			include ./blocks/storage-of-vendor/storage-of-vendor.data.pug

			.sidebar__item
				h2.title Производители

				- var id = 0
				while id < vendorSpec.length
					+vendor-sb(vendorSpec[id].name, vendorSpec[id++].img)

				.text-center
					+btn('Еще')(href='/vendors.html')
			

			//- СТАТЬИ
			.sidebar__item
				h2.title Статьи
				+teaser({
					date: "21 января 2018",
					title: "Заголовок статьи",
					text: "Наш ассортимент расширяется! Теперь у нас можно купить семена овощей и цветов «Уральский Дачник» и «Роял Сидс»! Уральский Дачник - это уникально.",
					isMoreLink: false,
				}).margin-b-20
				+teaser({
					date: "21 января 2018",
					title: "Заголовок статьи",
					text: "Наш ассортимент расширяется! Теперь у нас можно купить семена овощей и цветов «Уральский Дачник» и «Роял Сидс»! Уральский Дачник - это уникально.",
					isMoreLink: false,
				}).margin-b-20
				
				.text-center
					+btn('Еще')(href='/articles.html')
			
			//- БЛОК ГАЗЕТА
			.sidebar__item
				h2.title Наша газета
				+newspaper("# 1 (50) 2018")