extends pug/template.pug

block variables
	- var page_class = ""
	- var isLogin = true
	- var breadcrumb_chain = ["Главная", "Новости"] 

block append head

block page
	+topline()

	+breadcrumbs(breadcrumb_chain)

	.row
		main.col-lg-8
			h1.title Новости
			//- Новость 1
			.row
				.col-md-12.margin-b-20
					.row
						.col-md-3.col-sm-4.margin-down--lg-b-25
							
							+thumb("images/product-1.jpg","#","small")

						.col-md-9.col-sm-8
							+teaser({
								date: "21 января 2017",
								title: "Дорогие друзья! Появились в продаже семена «Уральский дачник» и «Роял сидс».",
								text: "Наш ассортимент расширяется! Теперь у нас можно купить семена овощей и цветов «Уральский Дачник» и «Роял Сидс»! Уральский Дачник - это уникально.",
								isMoreLink: true,
							})
			//- Новость 2
			.row
				.col-md-12.margin-b-20
					.row
						.col-md-3.col-sm-4.margin-down--lg-b-25
							
							+thumb("images/product-2.jpg","#","small")

						.col-md-9.col-sm-8
							+teaser({
								date: "23 января 2018",
								title: "Дорогие друзья!!! Появились в продаже семена «Уральский дачник» и «Роял сидс».",
								text: "Наш ассортимент расширяется! Теперь у нас можно купить семена овощей и цветов «Уральский Дачник» и «Роял Сидс»! Уральский Дачник - это уникально.",
								isMoreLink: true,
							})
			//- Новость 3	
			.row
				.col-md-12.margin-b-20
					.row
						.col-md-3.col-sm-4.margin-down--lg-b-25
							
							+thumb("images/product-1.jpg","#","small")

						.col-md-9.col-sm-8
							+teaser({
								date: "21 января 2017",
								title: "Дорогие друзья! Появились в продаже семена «Уральский дачник» и «Роял сидс».",
								text: "Наш ассортимент расширяется! Теперь у нас можно купить семена овощей и цветов «Уральский Дачник» и «Роял Сидс»! Уральский Дачник - это уникально.",
								isMoreLink: true,
							})
			//- Новость 4
			.row
				.col-md-12.margin-b-20
					.row
						.col-md-3.col-sm-4.margin-down--lg-b-25
							
							+thumb("images/product-2.jpg","#","small")

						.col-md-9.col-sm-8
							+teaser({
								date: "23 января 2018",
								title: "Дорогие друзья!!! Появились в продаже семена «Уральский дачник» и «Роял сидс».",
								text: "Наш ассортимент расширяется! Теперь у нас можно купить семена овощей и цветов «Уральский Дачник» и «Роял Сидс»! Уральский Дачник - это уникально.",
								isMoreLink: true,
							})
			//- Новость 5
			.row
				.col-md-12.margin-b-20
					.row
						.col-md-3.col-sm-4.margin-down--lg-b-25
							
							+thumb("images/product-1.jpg","#","small")

						.col-md-9.col-sm-8
							+teaser({
								date: "21 января 2017",
								title: "Дорогие друзья! Появились в продаже семена «Уральский дачник» и «Роял сидс».",
								text: "Наш ассортимент расширяется! Теперь у нас можно купить семена овощей и цветов «Уральский Дачник» и «Роял Сидс»! Уральский Дачник - это уникально.",
								isMoreLink: true,
							})
			
			//- Bottom line (Pagination + )
			+bottomcontrol()(showItemsBottom = ['5','10','15','Все'])

		//- SIDE BAR
		aside.col-lg-4.sidebar
			.sidebar__item
				h2.title Статьи

				+teaser({
					date: "21 января 2018",
					title: "Заголовок статьи",
					text: "Наш ассортимент расширяется! Теперь у нас можно купить семена овощей и цветов «Уральский Дачник» и «Роял Сидс»! Уральский Дачник - это уникально.",
					isMoreLink: false,
				}).margin-b-20
				+teaser({
					date: "21 января 2018",
					title: "Заголовок статьи",
					text: "Наш ассортимент расширяется! Теперь у нас можно купить семена овощей и цветов «Уральский Дачник» и «Роял Сидс»! Уральский Дачник - это уникально.",
					isMoreLink: false,
				}).margin-b-20
				
				.text-center
					+btn('Еще')(href='/articles.html')

			.sidebar__item
				h2.title Наша газета
				+newspaper("# 1 (50) 2018")