extends pug/template.pug

block variables
	- var page_class = ""
	- var isLogin = false
	- var breadcrumb_chain = ["Главная", "Новости", "Дорогие друзья! Появились в продаже семена  «Уральский дачник» и «Роял сидс»."] 

block append head
	link(rel='stylesheet', href='css/contacts-styles.css')

block page
	+topline()

	+breadcrumbs(breadcrumb_chain)
	
	+news()
		.row
			.offset-lg-2.col-lg-8
				h1.title Дорогие друзья! Появились в продаже семена  «Уральский дачник» и «Роял сидс».
				

				.news__date 21 января 2018
				+content()
					p
						|SEO - текст. Наша организация не стоит на месте, мы развиваемся и растем. На данный момент ассортимент нашей продукции насчитывает около 10 000 наименований, в том числе около 6 000 семян овощных и цветочных культур. Мы дорожим своей репутацией и никогда не предлагаем нашим покупателям некачественный товар. Всё самое лучшее, вы купите только у нас!
					
					h2 Сибирский сад


					p Наша организация не стоит на месте, мы развиваемся и растем. На данный момент ассортимент нашей продукции насчитывает около 10 000 наименований, в том числе около 6 000 семян овощных и цветочных культур. Мы дорожим своей репутацией и никогда не предлагаем нашим покупателям некачественный товар. Всё самое лучшее, вы купите только у нас! На данный момент ассортимент нашей продукции насчитывает около 10 000 наименований, в том числе около 6 000 семян овощных и цветочных культур. Всё самое лучшее, вы купите только у нас! 
					
					img(src="images/simple-img-1.jpg", alt="")
					figcaption
						|Подпись к изображению. Всё самое лучшее, вы купите только у нас!

					img(src="images/simple-img-2.jpg", alt="")
					figcaption
						|Подпись к изображению. Всё самое лучшее, вы купите только у нас!
					

					p
						|SEO - текст. Наша организация не стоит на месте, мы развиваемся и растем. На данный момент ассортимент нашей продукции насчитывает около 10 000 наименований, в том числе около 6 000 семян овощных и цветочных культур. Мы дорожим своей репутацией и никогда не предлагаем нашим покупателям некачественный товар. Всё самое лучшее, вы купите только у нас!


		a.news__back(href="news-list.html") К новостям