extends pug/template.pug

block variables
	- var page_class = ""
	- var isLogin = true
	- var breadcrumb_chain = ["Главная", "Наша газета"] 

block append head

block page
	+topline()

	+breadcrumbs(breadcrumb_chain)

	h1.title Наша газета

	.row
		.col-lg-9
			.row
				each index in [1,2,3,4,5,6,7,8,9]
					.col-md-4.col-sm-6
						+newspaper("# 1 (50) 2018",false,true).margin-b-30


			//- Bottom line (Pagination + )
			+bottomcontrol()


		.col-lg-3
			h5.title.title_ontop Статьи из газеты

			+thumb("images/product-1.jpg","#")
			+teaser({
				date: "21 января 2017",
				title: "Дорогие друзья! Появились в продаже семена «Уральский дачник» и «Роял сидс».",
				text: "Наш ассортимент расширяется! Теперь у нас можно купить семена овощей и цветов «Уральский Дачник» и «Роял Сидс»! Уральский Дачник - это уникально.",
				isMoreLink: true,
			}).margin-b-20

			+thumb("images/product-2.jpg","#")
			+teaser({
				date: "21 января 2017",
				title: "Дорогие друзья! Появились в продаже семена «Уральский дачник» и «Роял сидс».",
				text: "Наш ассортимент расширяется! Теперь у нас можно купить семена овощей и цветов «Уральский Дачник» и «Роял Сидс»! Уральский Дачник - это уникально.",
				isMoreLink: true,
			}).margin-b-20