extends pug/template.pug

block variables
	- var page_class = ""
	- var isLogin = true
	- var breadcrumb_chain = ["Главная", "Личный кабинет"] 

block append head

block page
	+topline()

	+breadcrumbs(breadcrumb_chain)

	.row
		.offset-lg-2.col-lg-8

			h1.title Восстановление пароля

			+form().margin-b-50
				
				//- Поле "Адрес электронной почты"	
				+field-text({
					title: 'Введите ваш e-mail',
					isTextarea: false,
					mods: 'cols-md-4-6',
					val: '',
				})

				+field-actions("",'offset-md-2')
					+btn('Отправить', 'primary')