extends pug/template.pug

block variables
	- var page_class = ""
	- var isLogin = true
	- var breadcrumb_chain = ["Главная", "Личный кабинет"] 

block append head

block page
	+topline()

	+breadcrumbs(breadcrumb_chain)

	.row
		.offset-lg-2.col-lg-8

			h1.title Личный	кабинет

			+form().margin-b-50
				
				//- Поле "Ваше ФИО"
				+field-text({
					title: 'Ваше ФИО',
					isTextarea: false,
					mods: 'cols-md-4-8',
					val: 'Ананьев Владимир Владимирович',
				})

				//- Поле "Адрес электронной почты"	
				+field-text({
					title: 'Адрес электронной почты',
					isTextarea: false,
					mods: 'cols-md-4-8',
					val: '',
				})
				
				h5.title Данные для входа
				//- +fieldset('Данные для входа')
				//- Поле "ЛОгин"	
				+field-text({
					title: 'Логин',
					isTextarea: false,
					mods: 'cols-md-4-6',
					val: '',
				})
				//- Поле "Пароль"	
				+field-text({
					title: 'Пароль',
					isTextarea: false,
					mods: 'cols-md-4-6',
					val: '',
					attrs: {
						type: "password",
					}
				})

				//- Поле "Повторите пароль"	
				+field-text({
					title: 'Повторите пароль',
					isTextarea: false,
					mods: 'cols-md-4-6',
					val: '',
					attrs: {
						type: "password",
					}
				})

				+field-actions("",'offset-md-2')
					+btn('Сохранить', 'primary')