extends pug/template.pug

block variables
	- var page_class = ""
	- var isLogin = false
	- var breadcrumb_chain = ["Главная", "Каталог продукции", "Семена цветов", "Цветы Календула Золотой император"] 

block append head
	link(rel='stylesheet', href='css/product-card-styles.css')

block page
	+topline()

	+breadcrumbs(breadcrumb_chain)
	
	.product-card 
		.row
			.col-lg-4.margin-down--md-b-40
				+thumb("images/product-4.jpg")

			.col-lg-8
				h1.title Цветы Календула Золотой император

				.product-card__info
					.product-card__labels
						//- .product-card__vendor-label(style='background-image: url("img/vendor-2.png")')
						.product-card__news-label
					.row
						.col-md-8
							.product-card__info-block
								.product-card__info-title Производитель:
								sapn.product-card__info-value Русский огород

							.product-card__info-block
								.product-card__info-title Вес брутто:
								sapn.product-card__info-value 60 г

							.product-card__info-block
								.product-card__info-title Вес нетто:
								sapn.product-card__info-value 59 г

							.product-card__info-block
								.product-card__info-title Артикул:
								sapn.product-card__info-value S-NK-702714


						.col-md-4.col-5.margin-down--sm-t-20
							.product-card__price-place
								if !isLogin
									.product-card__go-reg
										|Цена отображается для зарегистрированных пользователей

									a.btn.btn_primary(href="/registration.html") Зарегистрироваться
								
								else
									.product-card__price-old
										span 11816.33
									.product-card__price-actual
										span 560.12
										span.rouble a

					.product-card__info-block.margin-t-15
						.product-card__info-title Описание:
						.product-card__info-value 
							p Наша организация не стоит на месте, мы развиваемся и растем. На данный момент ассортимент нашей продукции насчитывает около 10 000 наименований, в том числе около 6 000 семян овощных и цветочных культур. Мы дорожим своей репутацией и никогда не предлагаем нашим покупателям некачественный товар. Всё самое лучшее, вы купите только у нас! На данный момент ассортимент нашей продукции насчитывает около 10 000 наименований, в том числе около 6 000 семян овощных и цветочных культур. Всё самое лучшее, вы купите только у нас! Наша организация не стоит на месте, мы развиваемся и растем. На данный момент ассортимент нашей продукции насчитывает.

					.product-card__control
						if isLogin
							+field-select(
								'',
								{
									name: 'select',
									id: 'select'
								},
								[
									{
										title: '10',
										attrs: {
											value: '',
										}
									},
									{
										title: '20',
										attrs: {
											value: '',
										}
									},
									{
										title: '30',
										attrs: {
											value: '',
										}
									},
									{
										title: '40',
										attrs: {
											value: '',
										}
									},
								],
								'',
								'card'
							)

							a.btn.btn_buy.js_buyBtn(href="") Купить