extends pug/template.pug

block variables
	- var page_class = ""
	- var isLogin = false
	- var breadcrumb_chain = ["Главная", "Регистрация"] 

block append head

block page
	+topline()

	+breadcrumbs(breadcrumb_chain)

	.row
		.offset-lg-2.col-lg-8

			h1.title Регистрация
			
			+form().margin-b-50
				
				//- Поле "Электронная почта"	
				+field-text({
					title: 'Электронная почта',
					helpText: 'Некорректные данные',
					isTextarea: false,
					mods: 'error, cols-md-4-8',
					val: '',
				})
				
				//- Поле "Пароль"	
				+field-text({
					title: 'Пароль',
					isTextarea: false,
					mods: 'cols-md-4-6',
					val: '',
					attrs: {
						type: "password",
					}
				})

				//- Поле "Повторите пароль"	
				+field-text({
					title: 'Повторите пароль',
					isTextarea: false,
					mods: 'cols-md-4-6',
					val: '',
					attrs: {
						type: "password",
					}
				})

				//- Поле "Тип покупателя"	
				+field-radio([
					{
						title: 'Физическое лицо',
						attrs: {
							name: 'radio',
							checked: true,
						}
					},
					{
						title: 'Юридическое лицо',
						attrs: {
							name: 'radio',
						}
					},
					{
						title: 'Индивидуальный предприниматель',
						attrs: {
							name: 'radio',
						}
					},
				], 'Тип покупателя', 'cols-md-4-8')
				
				//- Поле "Название компании"
				+field-text({
					title: 'Название компании',
					isTextarea: false,
					mods: 'cols-md-4-8',
					val: '',
				})
				
				//- Поле "ИНН"
				+field-text({
					title: 'ИНН',
					isTextarea: false,
					mods: 'cols-md-4-8',
					val: '',
				})

				//- Поле "Контактное лицо (ФИО)"
				+field-text({
					title: 'Контактное лицо (ФИО)',
					isTextarea: false,
					mods: 'cols-md-4-8',
					val: '',
				})

				//- Поле "Телефон"
				+field-text({
					title: 'Телефон',
					isTextarea: false,
					mods: 'cols-md-4-8',
					val: '',
				})

				//- Поле "Адрес доставки"
				+field-text({
					title: 'Адрес доставки',
					isTextarea: false,
					mods: 'cols-md-4-8',
					val: '',
				})

				//- Поле "Примечание"
				+field-text({
					title: 'Примечание',
					isTextarea: true,
					mods: 'cols-md-4-8',
					val: '',
				})

				+field-actions('* — обязательные поля','offset-md-2')
					+btn('Регистрация', 'primary')
					+btn('Регистрация', 'primary')(disabled)