extends pug/template.pug

block variables
	- var page_class = ""
	- var isLogin = true
	- var breadcrumb_chain = ["Главная", "Каталог продукции", "Семена цветов", "Цветы Агератум"] 

block append head

block page
	+topline()

	+breadcrumbs(breadcrumb_chain)

	.row.margin-b-20
		.col-lg-2
			+product-list-icon(6, 'blue')

		.col-lg-10
			h1.title Семена цветов
			
			+catalog-info()#catalog-info
				+product-list(6, false, false, 'blue,full')#product-list
			
			+link('Больше','more')(href="/catalog-product.html", data-text="Меньше", class="toggler", data-target-id="catalog-info", data-target-class-toggle="catalog__info_shown")
				i.i-ui-arrow-line-down

	.row
		.col-xl-10.col-lg-9
			h5.title.title_ontop Агрос

			+topcontrol()(showItemsTop = ['Все', 'Новинки'], sortItems = ['По цене'])

			+catalog-wrap(10)

			//- Bottom line (Pagination + showPerPage)
			+bottomcontrol()(showItemsBottom = ['15','30','45','Все'])

		.col-xl-2.col-lg-3
			+filter-abc('Семена цветов', true, false)