@import "fw/variables"
@import "fw/mixins"

.vendors
	&__best
		background-image linear-gradient(to bottom right, $green, $blue, $orange)
		padding 28px 27px 15px
		spacer-up(xs,b,30px)

	&__best-wrap
		font-size 0
		
		+media-breakpoint-up(sm)
			margin-left -25px
		
	&__best-item
		display inline-block
		vertical-align top
		text-align center
		margin-bottom 24px
		width 100% 
		
		+media-breakpoint-up(sm)
			margin-left 25px
			width calc(50% - 25px)
		+media-breakpoint-up(md)
			width calc(33.3334% - 25px)
		+media-breakpoint-up(lg)
			width calc(20% - 25px)
		+media-breakpoint-up(xl)
			width calc(16.66667% - 25px)
		
	&__best-img
		display block
		height 170px
		
		background-repeat no-repeat 
		background-position center
		// background-size contain
		background-color #FFF 
		border-radius 20px
		margin-bottom 12px
		
	&__best-name
		font-size 20px
		font-weight 800 
		line-height 1
		color #191919 
		margin-bottom 5px 
	
	&__best-remain
		font-size 15px
		color #FFF 
		line-height 1