//- Все примеси в этом файле должны начинаться c имени блока (content)

mixin content(mods)

	//- Принимает:
	//-   mods    {string} - список модификаторов
	//- Вызов:
		+content('some-mod')

	-
		// список модификаторов
		var allMods = '';
		if(typeof(mods) !== 'undefined' && mods) {
			var modsList = mods.split(',');
			for (var i = 0; i < modsList.length; i++) {
				allMods = allMods + ' content_' + modsList[i].trim();
			}
		}

	.content(class=allMods)&attributes(attributes)
		block