// В этом файле должны быть стили для БЭМ-блока bottomcontrol, его элементов, 
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.bottomcontrol
	display flex
	flex-direction row
	flex-wrap wrap
	justify-content space-between
	align-items center
	
	spacer-down(md, b, 20px)

