//- Все примеси в этом файле должны начинаться c имени блока (bottomcontrol)

//- Блок используется как контейнер для таких инструментов как "Пагинация" и 
//- "Показывать n элементов на странице"
mixin bottomcontrol()

	.bottomcontrol
		block