// В этом файле должны быть стили для БЭМ-блока rouble, его элементов, 
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.rouble
	font-family Rouble
	font-size inherit 
	font-weight 100

